/* Estilos para el Navbar */
.navbar-resetpassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .navbar-logo-resetpassword {
    max-width: 100px;
    height: 80px;
  }
  
  .navbar-links-resetpassword {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar-links-resetpassword a,
  .navbar-links-resetpassword button {
    margin-left: 20px;
    font-size: 1rem;
    color: var(--color-texto);
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar-links-resetpassword a:hover,
  .navbar-links-resetpassword button:hover {
    color: var(--color-secundario);
    transform: scale(1.05);
  }
  
  .navbar-links-resetpassword a {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links-resetpassword a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Estilos para el Contenedor y Formulario de Reset de Contraseña */
  .container-resetpassword {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .h1-resetpassword {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .subtitle-resetpassword {
    color: #761868;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .label-resetpassword {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-resetpassword,
  .button-resetpassword {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .button-resetpassword {
    background-color: #6c5ce7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-resetpassword:hover {
    background-color: #50083f;
  }
  